/* Style for larger screens */
/* @media (min-width: 992px) {
    .navbar .nav-item {
        float: left;
        margin-right: 1em;
    }
} */

/* Style for medium screens */
/* @media (min-width: 768px) and (max-width: 991px) {
    .navbar .nav-item {
        float: none;
        margin-bottom: 1em;
    }
} */

/* Style for small screens */
/* @media (max-width: 767px) {
    .navbar .nav-item {
        float: none;
        margin-bottom: 1em;
    }
} */

.h1 {
    text-align: center;
}

.container {
 
    background: linear-gradient(to bottom, #0099cc 0%, #99ffcc 100%);
    padding: 20px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.content{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    height: 100vh;
}
.tick-Icon{
    margin-left: 5px;
}

.loading-skeleton{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c1bacd;
    z-index: 1000;

    
}

.loading-skeleton .loader{
    width: 100px;
    height: 100px;
    background: url(./public/Hourglass.gif) center center no-repeat;
    background-size: cover;
}

.content-loaded .loading-skeleton{
    display: none;
}





