/* Style for larger screens */
/* @media (min-width: 992px) {
    .navbar .nav-item {
        float: left;
        margin-right: 1em;
    }
} */

/* Style for medium screens */
/* @media (min-width: 768px) and (max-width: 991px) {
    .navbar .nav-item {
        float: none;
        margin-bottom: 1em;
    }
} */

/* Style for small screens */
/* @media (max-width: 767px) {
    .navbar .nav-item {
        float: none;
        margin-bottom: 1em;
    }
} */

*{
    font-family: "Space Mono", monospace;
}
.h1 {
    text-align: center;
}

.navbar{
    font-size: large;
} 

.container {
 
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    padding: 20px; 
    font-size: large;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.content{
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );    height: 100vh;
}
.tick-Icon{
    margin-left: 5px;
}

.loading-skeleton{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #91d8cf;
    z-index: 1000;

    
}


.loading-skeleton .loader{
    width: 100px;
    height: 100px;
    background: url(./public/Hourglass.gif) center center no-repeat;
    background-size: cover;
}

.content-loaded .loading-skeleton{
    display: none;
}





