/* Style for larger screens */
/* @media (min-width: 992px) {
    .navbar .nav-item {
        float: left;
        margin-right: 1em;
    }
} */

/* Style for medium screens */
/* @media (min-width: 768px) and (max-width: 991px) {
    .navbar .nav-item {
        float: none;
        margin-bottom: 1em;
    }
} */

/* Style for small screens */
/* @media (max-width: 767px) {
    .navbar .nav-item {
        float: none;
        margin-bottom: 1em;
    }
} */

.h1 {
    text-align: center;
}

.container {
    /* background-color: papayawhip; */
    background: linear-gradient(to bottom, #0099cc 0%, #99ffcc 100%);
    /* width: 500px;
    padding: 20px; */
    display: flex;
    flex-direction: column;
}

.content{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    height: 100vh;
}




